<!--@subject Contact Form@-->
<!--@vars {
"var data.email":"Sender Email",
"var data.firstname":"Sender Firstname",
"var data.lastname":"Sender Lastname",
"var data.sector":"Sector Info",
"var data.direction":"Direction info",
"var data.pace":"Pace info",
"var data.materials":"Materials info",
"var data.understood":"Understood info",
"var data.help_asked":"Help_asked info",
"var data.helper":"Helper info",
"var data.questions":"Questions"
} @-->

{{trans "Firstname: %firstname" firstname=$data.firstname}}
{{trans "Lastname: %lastname" lastname=$data.lastname}}
{{trans "Email: %email" email=$data.email}}
{{trans "Sector: %sector" sector=$data.sector}}
{{trans "Direction: %direction" direction=$data.direction}}
{{trans "Pace: %pace" pace=$data.pace}}
{{trans "Materials: %materials" materials=$data.materials}}
{{trans "Understood: %understood" understood=$data.understood}}
{{trans "Help_asked: %help_asked" help_asked=$data.help_asked}}
{{trans "Helper: %helper" helper=$data.helper}}
{{trans "Question: %questions" questions=$data.questions}}
